# Additional packages needed to run the test suite.
-r requirements.txt      # Pull in regular requirements
blue ~= 0.9.1            # Main code formatting tool
coverage ~= 7.3.2        # Code coverage testing for Python.
isort ~= 5.12.0          # Import statement sorting tool
pylint ~= 3.0.2          # Our agreed linter
pytest ~= 7.4.2          # The pytest framework makes it easy to write small, readable tests
pytest-bdd ~= 7.0.0      # BDD tool
pytest-mock ~= 3.12.0
pytest-env ~= 1.1.0      # Setting environment in pytest, needed for vscode.
pytest-cov ~= 4.1.0      # Linking coverage and pytest.
